.container {
  max-width: 800 px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #333;
  color: #fff;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ccc;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.display_animal {
  background-color: #d3d3d3;
}


#model-filter option {
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
}
